@charset "utf-8";
@import url(../css/reset.css);

:root {
    --main-color: #00FFF5;
    --text-color: #fff;
    --bg-color: #000;
    --main-font: 'Noto Sans JP', sans-serif;
    --accent-font: 'EXO', sans-serif;
    --audio-color: #bfbfbf;
}
.wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}
.wrapper:after {
    content: "";
    clear: both;
    display: block;
}
.inner {
    display: block;
    width: calc(100% - 40px);
    margin: 0 auto;
}
.inner:after {
    content: "";
    clear: both;
    display: block;
}
.br_pc {
    display: none;
}
.section_title {
    color: var(--main-color);
    font-family: var(--accent-font);
    margin-bottom: 30px;
}
.section_title h1 {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0.05em;
    font-weight: bold;
}
.section_title span {
    display: block;
    width: 60px;
    height: 6px;
    background-color: var(--main-color);
    margin-top: 15px;

}
.play_btn {
    display: block;
    width: 170px;
    text-decoration: none;
    color: var(--bg-color);
    text-align: center;
    font-family: var(--accent-font);
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    letter-spacing: 0.05em;
    padding: 20px 0;
    background-color: var(--main-color);
}
/*scroll*/
.scroll_icon {
    position: absolute;
    bottom: 20px;
    left: 0;
}
.scroll_icon span {
    position: absolute;
    left: 14px;
    bottom: 9px;
    color: var(--main-color);
    font-size: 13px;
    line-height: 13px;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}
.scroll_icon::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--main-color);
    animation:
    circlemove 1.6s ease-in-out infinite,
    cirlemovehide 1.6s ease-out infinite;
}
/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove{
    0%{bottom:47px;}
    100%{bottom:-3px;}
}
/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide{
    0%{opacity:0}
    50%{opacity:1;}
    80%{opacity:0.9;}
    100%{opacity:0;}
}
.scroll_icon::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 50px;
    background: var(--main-color);
}
/*top news banner*/
.news_banner {
    display: block;
    height: 27px;
    width: 200px;
    background-color: var(--bg-color);
    overflow: hidden;
    position: absolute;
    bottom: 50px;
    right: 20px;
    border: 1px solid var(--main-color);
}
.news_banner_content {
    display: inline-block;
    color: var(--main-color);
    line-height: 27px;
    padding-left: 100%;
    white-space: nowrap;
    animation: animate_banner 20s linear infinite;
}
.top .news_banner_content p {
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 7.5px 0;
    vertical-align: top;
}
.top .news_banner_content p span {
    color: var(--text-color);
    margin-right: 10px;
}
.news_banner_content > * {
    display: inline-block;
}
@keyframes animate_banner {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
/*line*/
.top_line {
    position: relative;
    width: 200px;
    height: 30px;
    z-index: 2;
    margin: 0 0 0 auto;
}
.top_line_content {
    position: absolute;
    width: 200px;
    height: 30px;
    top: 0;
    left: 0;
    z-index: 3;
}
.bottom_line {
    position: relative;
    width: 200px;
    height: 30px;
    z-index: 2;
    margin: 0 auto 0 0;
    transform: scale(-1, -1);
}
.bottom_line_content {
    position: absolute;
    width: 200px;
    height: 30px;
    top: 0;
    left: 0;
    z-index: 3;
}
/*loading*/
.loader_bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.atom-spinner, .atom-spinner * {
    box-sizing: border-box;
}
.loader_bg p {
    display: block;
    color: var(--main-color);
}
.atom-spinner {
    height: 60px;
    width: 60px;
    overflow: hidden;
}
.atom-spinner .spinner-inner {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}
.atom-spinner .spinner-circle {
    display: block;
    position: absolute;
    color: var(--main-color);
    font-size: calc(60px * 0.24);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.atom-spinner .spinner-line {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation-duration: 1s;
    border-left-width: calc(60px / 25);
    border-top-width: calc(60px / 25);
    border-left-color: var(--main-color);
    border-left-style: solid;
    border-top-style: solid;
    border-top-color: transparent;
}
.atom-spinner .spinner-line:nth-child(1) {
    animation: atom-spinner-animation-1 1s linear infinite;
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
}
.atom-spinner .spinner-line:nth-child(2) {
    animation: atom-spinner-animation-2 1s linear infinite;
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
}
.atom-spinner .spinner-line:nth-child(3) {
    animation: atom-spinner-animation-3 1s linear infinite;
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
}
@keyframes atom-spinner-animation-1 {
    100% {
        transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
    }
}
@keyframes atom-spinner-animation-2 {
    100% {
        transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
    }
}
@keyframes atom-spinner-animation-3 {
    100% {
        transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
    }
}

@media screen and (min-width: 600px) {
    .br_pc {
        display: block;
    }
}

body {
    font-family: var(--main-font);
    color: var(--text-color);
    background-color: var(--bg-color);
}

/*header*/
#header {
    display: block;
    width: 100%;
    height: 60px;
    font-family: var(--accent-font);
    position: fixed;
    background-color: transparent;
    z-index: 900;
}
#header .inner {
    position: relative;
}
a#header_logo {
    display: block;
    width: 120px;
    height: auto;
    position: absolute;
    top: 23px;
}
a#header_link {
    display: none;
}
#global_nav ul {
    display: block;
    position: absolute;
    top: 23px;
    right: 0;
    list-style: none;
    font-size: 0;
    line-height: 0;
}
#global_nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 0;
    line-height: 0;
}
#global_nav ul li:last-of-type {
    margin-right: 0;
}
#global_nav a {
    font-size: 13px;
    line-height: 14px;
    font-weight: bold;
    text-decoration: none;
    color: var(--main-color);
}
#global_nav a:hover {
    color: var(--text-color);
}
@media screen and (min-width: 600px) {
    a#header_link {
        display: block;
    }
}
/*top*/
.top {
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 845px;
}
.bgParallax {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}
.bgParallax::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( 45deg, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 50% );
    background-size: 4px 4px;
}
.bgParallax-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.top .inner {
    position: relative;
    height: 100vh;
}
.top_contents {
    display: block;
    width: calc(100% - 80px);
    height: 303px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.top h1 {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.02em;
    font-weight: bold;
    margin-bottom: 20px;
}
.top h2 {
    font-size: 76px;
    line-height: 68.4px;
    letter-spacing: 0.05em;
    font-weight: 600;
    margin-bottom: 10px;
}
.top p {
    font-family: var(--main-font);
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.6em;
    font-weight: 500;
    margin-bottom: 30px;
}
/*audio*/
#audio_control {
    display: block;
    position: absolute;
    top: 66px;
    right: 0;
    z-index: 20;
}
#audio_control button {
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0;
    margin: 0;
    color: var(--audio-color);
    background: transparent;
    border: none;
    padding: 0;
    outline: none;
    appearance: none;
    cursor: pointer;
}
#audio_control button.active {
    display: none;
}
#audio_control button i {
    margin-left: 6px;
}
/*story*/
.story {
    position: relative;
    z-index: 1;
}
.story .wrapper {
    padding-bottom: 43px;
    background-image: url(../assets/img/bg_story.jpg);
    background-position: center center;
    background-size: cover;
}
.story_contents {
    display: flex;
    flex-wrap: wrap;
}
.story_contents .item {
    margin-top: 53px;
}
.story_contents .item:first-of-type {
    margin-top: 0;
}
.story_contents .item img {
    width: 85%;
    margin: 0 auto;
}
.story_contents .item:nth-of-type(even) img {
    box-shadow: -7px 7px 0px 0px var(--main-color);
    transform: skew(6deg, 0);
}
.story_contents .item:nth-of-type(odd) img {
    box-shadow: 7px 7px 0px 0px var(--main-color);
    transform: skew(-6deg, 0);
}
.story_contents .text {
    letter-spacing: 0.05em;
}
.story_contents h1 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}
.story_contents p {
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 30px;
}
.story_contents img {
    width: 85%;
    height: auto;
}
/*fight*/
.fight {
    padding: 40px 0;
    text-align: center;
}
.fight h1 {
    font-family: var(--accent-font);
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.05em;
}
.fight a {
    margin: 20px auto 0;
}
/*trailer*/
.trailer .iframe_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.trailer .iframe_wrapper iframe {
    position: absolute;
    top:  0;
    left: 0;
    width: 100%;
    height: 100%;
}
.trailer .section_title {
    color: var(--bg-color);
    background-color: var(--main-color);
}
.trailer .section_title span {
    background-color: var(--bg-color);
}
.trailer .top_line_content {
    fill: var(--main-color);
}
.trailer .bottom_line_content {
    fill: var(--main-color);
}
.trailer .wrapper {
    background-color: var(--main-color);
}
/*footer*/
footer .wrapper {
    padding: 50px 0 20px;
    background-color: var(--bg-color);
}
footer ul {
    display: block;
    width: 90%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    text-align: center;
}
footer ul li {
    display: inline-block;
    height: 30px;
    vertical-align: top;
}
footer p {
    font-family: var(--accent-font);
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.05em;
    font-weight: bold;
    text-align: center;
    margin: 30px auto 44px;
}
a#footer_link {
    width: 100%;
}
@media screen and (min-width: 600px) {
    a#footer_link {
        display: none;
    }
}